
# Created by https://www.toptal.com/developers/gitignore/api/git,ansible,ssh
# Edit at https://www.toptal.com/developers/gitignore?templates=git,ansible,ssh

### Ansible ###
*.retry

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### SSH ###
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts

# End of https://www.toptal.com/developers/gitignore/api/git,ansible,ssh
